  <!-- tabs with dropdown-->
  <ul class="nav nav-tabs tabs">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Polls</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Create a Poll</a>
              <a class="dropdown-item" href="#">Edit Your Polls</a>
              <a class="dropdown-item" href="#">View Polls</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="signup">Sign Up</a>
          </div>
      </li>
  </ul>
